.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.header_links-list {
    display: flex;
    gap: 26px;
    padding-top: 138px;
    padding-bottom: 140px;
    text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header_links-list-item {
    list-style: circle;
    padding-left: 4px;
}

.header_link {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
}

.header_menu-link_active {
    text-decoration: none;
    padding: 0;
}

.header_logo {
    text-align: center;
    padding-top: 92px;
    padding-bottom: 96px;
}

.header_logo_image {
    width: 148px;
    height: 105px;
}

.address {
    display: grid;
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
    text-underline-offset: 4px;
}

.header_address {
    justify-self: end;
    padding-top: 96px;
    padding-bottom: 100px;
    max-width: 240px;
    list-style: none;
    
}


.cover {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    position: relative;
}

.overlay {
    background: black;
    opacity: 60%;
    inset: 0;
    position: absolute;
}

.cover_title {
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.aligned-text {
    display: flex;
    justify-content: start;
    padding: 165px 0 0 50px;
    text-transform: uppercase;
}

.aligned-text_center {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0 0 28px;
    text-transform: uppercase;
}

.aligned-text_right {
    display: flex;
    justify-content: end;
    padding: 20px 20px 0 0;
    text-transform: uppercase;
}


.cover_description {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 106px 0 50px 0;
    align-items: center;
    margin-left: 50px;
    position: relative;
}

.cover_description-text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    display: flex;
    word-spacing: 18px;
}

.bet-button {
    font-weight: 500;
    font-size: 22px;
    line-height: 25.83px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 1px solid white;
    background: transparent;
    border-color: #FFFFFF;
    width: 256px;
    height: 51px;
}

.lots {
    padding-top: 180px;
    padding-left: 24px;
}

.lots_heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 46.96px;
    padding-left: 40px;
    padding-bottom: 27px;
}


.lots_cards {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.card-list-item {
    min-height: 596px;
    width: 334px;
    list-style: none;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    justify-content: space-between;
    position: relative;
    background-position: center;
    background-size: cover;
}

.card_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    color: #FFFFFF;
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
}

.card_text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    position: relative;
}

.card_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots_look-more-link {
    display: flex;
    align-self: flex-end;
    padding-left: 40px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.about {
    padding-top: 120px;
}

.about_column {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    column-gap: 50px;
}

.about_logo {
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    margin-left: 71px;
    margin-top: 35px;
}

.about_logo_image {
    width: 148px;
    height: 114px;
}

.title_section {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 46.96px;
    padding-top: 41px;
}

.about_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.about_text_paragraph {
    grid-column-start: 2;
    width: 693px;
    margin-top: 6px;
    display: grid;
    gap: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 181px;
}


.footer_address {
    list-style: none;
    padding-bottom: 82px;
    margin-right: 26px;
    max-width: 240px;
}  

.footer_menu {
    min-width: 163.9px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px;
}

.footer_link {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
} 

.footer_links-list {
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer_social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    margin-left: 28px;
}

.footer_social-list-item {
    width: 48px;
    height: 48px;
}